.health .blog-title{
    color: var(--secondary-grey-900, #2B3674);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}
.health .blog-para{
    color: #646464;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
}
.health .blog-container{
    padding: 20px 50px;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 18px 40px 0px rgba(112, 144, 176, 0.12);
}
.health .title-head{
    display: flex;
    gap: 10px;
}
.health .profile-info{
    display: flex;
    gap: 5px;
}
.health .blog-avatar{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
.health .blog-avatar img{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 64px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.health .profile-name .name{
    margin-bottom: 0;
    color: #646464;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.health .profile-name .sub-name{
    color: #646464;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.health .other-info{
    display: flex;
    gap: 10px;
}
.health .other-info .blog-time{
    display: flex;
    height: 15px;
    padding: 10px;
    align-items: center;
    border-radius: 16px;
    background: #EFEFEF;
}
.health .other-info .blog-time p{
    color: #DDB14E;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.health .other-info .profile-role{
    display: flex;
    height: 15px;
    padding: 10px;
    align-items: center;
    border-radius: 16px;
    background: #EFEFEF;
}
.health .other-info .profile-role img{
    display: flex;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
}
.health .other-info .profile-role p{
    color: #DDB14E;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.health .other-info .read-time{
    display: flex;
    height: 15px;
    padding: 10px;
    align-items: center;
    border-radius: 16px;
    background: #EFEFEF;
}
.health .other-info .read-time p{
    color: #DDB14E;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.health .border{
    border-bottom: 1px solid rgba(100, 100, 100, 0.20);
}
.health .blog-content .title{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.health .blog-content .topic{
    color: #DDB14E;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.health .blog-content .blo-content{
 color: #646464;
 font-family: Poppins;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}
.health .health-img img{
/*    height: 416px;*/
width: 100%;
flex-shrink: 0;
align-self: stretch;
border-radius: 8px;
}
.health .post-details{
    margin-top: 25px;
    display: flex;
    height: 60px;
    padding: 20px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #EFEFEF;
    justify-content: space-between;
}
.health .post-details div{
    display: flex;
}
.health .post-details .blog-views{
    color: var(--secondary-grey-900, #2B3674);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 228.571% */
    letter-spacing: -0.28px;
    margin: 0;
}
.health .post-details .blog-comments{
    color: var(--secondary-grey-900, #2B3674);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 228.571% */
    letter-spacing: -0.28px;
    margin: 0;
}

.d-title{
    color: var(--Heading-Blue, #2B3674);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*.d-details{
    display: flex;
    gap: 30px;
}*/
.d-details .v_and_c{
    display: flex;
    gap: 30px;
}
.d-details .d-views{
    display: flex;
    gap: 10px;
}
.d-details .d-views p{
    color: #646464;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.d-details .d-command{
    display: flex;
    gap: 10px;
}
.d-details .d-command p{
    color: #646464;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.command_button{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #DDB14E;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 25px;
}
.login_button{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border: 1px solid #DDB14E;
    color: #DDB14E;
}
.command_details{
    padding: 20px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: #FFF;
}
.command_count{
    color: var(--Heading-Blue, #2B3674);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.command_details input{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 20px;
    align-items: center;
    border-radius: 4px;
    background: #EFEFEF;
    border: none;
}
.textarea textarea{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 133px;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Heading-Blue, #2B3674);
}
.send_button{
    display: flex;
    height: 25px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    background: #DDB14E;
    border: none;
    color: #fff;
    float: right;
    margin-top: 20px;
}
/*infos*/

.infos{
  justify-content: center;
  background-image: url(../img/vector-2.png);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
/*  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}
.info-left,
.info-right {
  flex: 1;
}

.info-right {
  display: flex;
  flex-direction: column;
}
.health .get-started-with {
  font-family: "Kotta One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 86.6px;
}
.health .get-started-with {
  font-family: "Kotta One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 86.6px;
}

footer{
  background-color: #ddb14e;
  overflow: hidden;
  padding-top: 50px;
}
footer .frame-22 {
    display: inline-flex;
    height: 66px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer .element-padded {
    position: relative;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
footer .text-wrapper-22 {
    color: #ffffff;
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
.social{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.social-icon {
  border: 1px solid #fff;
  /* padding: 10px; */
  height: 40px;
  width: 40px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
}
.social-icon img{
  width: 20px;
  height: 20px;
}
.health .navigation-2 {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.health .blog-blog-us-what-w a{
    opacity: 0.8;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 30px;
}
.health .element-APCOM-all-ri {
  padding-top: 30px;
  border-top: 1px solid #ffffffa8;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}